# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# DO NOT ignore Rust workspace
!/rust_backend

# Ignore Rust build artifacts
/target

# Ignore generated gRPC code (optional if you're generating to a subfolder)
**/*.rs
!src/**/*.rs

# Ignore IDE and editor files
.idea/
.vscode/

# Optional: Ignore any specific output folders for proto
OUT_DIR/